.CopilotBlock {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  &:not(:last-child) {
    padding-bottom: 12px;
    border-bottom: 1px solid #f0f0f0;
  }
}

.Author {
  flex-shrink: 1;
}

.Dot {
  padding-left: 4px;
  padding-right: 4px;
}

.PaddingContainer {
  width: 100%;
  > * {
    padding: 0 16px;
    width: 100%;

    &:first-child {
      padding-top: 4px;
    }
  }
}

@media (min-width: 1200px) {
  .PaddingContainer {
    > * {
      &:first-child {
        padding-top: 8px;
      }
    }
  }
}

.Header {
  justify-content: space-between;
}

.Title {
  font-weight: bold;
}

.Score.Score.Score {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.88);
  transition: color 100ms;
  &:hover {
    color: rgb(220, 89, 80);
  }
}

@media (min-width: 768px) {
  .Score.Score.Score {
    font-size: 18px;
  }
}
