.Header {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.BuildVersion {
  font-size: 12px;
  margin: -2px 0 6px 0;
  color: rgba(0, 0, 0, 0.12) !important;
}

.Footer {
  text-align: center;
}
