.Mount {
  margin-top: -16px;
}

.ControlledCopilotBlock {
  margin: 0 -24px;
}

@media (min-width: 1200px) {
  .ControlledCopilotBlock {
    flex-flow: row nowrap !important;
    align-items: start !important;
    margin: 0 !important;

    &:not(:last-child) {
      padding-bottom: 0 !important;
    }
  }
}

.CopilotCard {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
